.item4:hover .buy-button {
    bottom: 5;
    margin-bottom: 10px;
  }
  .buy-button {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    transition: bottom 0.3s ease-in-out;
  }
  .item4 {
    margin-top: 20px;
    background-color: #fafafa;
    padding: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  .item4:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Đổ bóng lớn hơn khi trỏ chuột vào */
  }
  .zoom {
    padding: 5px;
    transition: transform 0.2s; /* Animation */
    margin: 0 auto;
  }
  .zoom:hover {
    transform: scale(1.2);
  }

  .describe {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    padding: 20px;
    border-radius: 5px;
  }
  .Promotion {
    width: 1400px;
    margin-bottom: 50px;
    border-radius: 5px;
  }
  .Promotion p {
    width: 300px;
    padding-top: 10px;
  }
  .Promotion span {
    font-size: 20px;
    font-weight: 700;
    
  }
  .Promotion img {
    width: 300px;
    margin: 10px;
  }
  .heart{
    position: absolute;
    left: 310px;
    top: 30px;
    font-size: 20px;
  }
  .heart:hover{
    color: red;
    
  }